@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    margin: auto;
    text-align: center;
    padding: 30px;
}
header > h1 {
    font-family: 'Passion one', 'arial', 'sans-serif';
    font-size: 100px;
    font-weight: bold;
}
header > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}
header > p > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
div.foto1 {
    background-image: url('pacote-d012/imagens/background001.jpg');
    background-position: center;
    font-family: sriracha;
}
p.verso1{
    background-color: white;
    font-size: 47px;  
    height: 700px;
}
p.verso2 {
    background-color: rgba(0, 0, 0, 0.233);
    color: white;
    font-size: 47px;  
    width: 550px;
    height: 700px;
}
p.verso3 {
    background-color: white;
    font-size: 47px;  
    height: 700px;
}
div.foto2 {
    background-image: url('pacote-d012/imagens/background002.jpg');
    background-position: center;
    font-family: sriracha;
}
p.verso4 {
    background-color: rgba(0, 0, 0, 0.233);
    color: white;
    font-size: 47px;  
    width: 550px;
    height: 700px;
}
p.verso5 {
    background-color: white;
    font-size: 47px;  
    height: 700px;
}
footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    padding: 10px;
}
footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}